.venv/
__pycache__/
*.pyc

Tests/extraction_v1/samples/*
!Tests/extraction_v1/samples/.gitkeep
Tests/extraction_v1/output/

extraction_pipeline/samples/*
!extraction_pipeline/samples/.gitkeep
extraction_pipeline/output/
